<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>

<body>
  <table style="text-indent:3px; line-height:30px; vertical-align:top; border-collapse: collapse;" width="100%" cellspacing="0" cellpadding="3" align="center">
    <tr>
      <td width="40%" style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Thủ tục</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Trình tự thực hiện</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Cách thức thực hiện</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Thành phần, số lượng hồ sơ</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Thời hạn giải quyết</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Đối tượng thực hiện thủ tục hành chính</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Cơ quan thực hiện thủ tục hành chính</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Kết quả thực hiện thủ tục hành chính</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Lệ phí (nếu có)</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Tên mẫu đơn, mẫu tờ khai (nếu có và đề nghị đính kèm)</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Yêu cầu, điều kiện thực hiện thủ tục hành chính (nếu có)</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
    <tr>
      <td style="font-weight: bold; border:1px solid #bbb; vertical-align:top;">Căn cứ pháp lý của thủ tục hành chính</td>
      <td style="border:1px solid #bbb; vertical-align:top;"></td>
    </tr>
  </table>
</body>
</html>
